### Stripe (test)
# STRIPE_PUBLIC_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# W Local development uruchom:
# stripe listen --forward-to localhost:3000/api/stripe/webhook

DATABASE_URL=""
DIRECT_URL=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=IMS <no-reply@localhost>
SMTP_USER= (puste)
SMTP_PASS= (puste)
CREATOR_INVITE_CODE="invite-code-for-creator-role"